@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* { margin: 0; padding: 0; font-family: "Roboto", sans-serif; }

body { min-height: 100vh; max-width: 100%; background-color: #eae7e4; margin: auto; font-size: 16px; }

.navbar-hamburger-button { display: none; position: relative; }

@media (max-width: 640px) { .navbar-hamburger-button { display: block; } }

.navbar-hamburger-button .hamburger-button { position: absolute; top: 10px; right: 2%; width: 40px; height: 40px; border: 1px solid transparent; border-radius: 5px; }

.navbar-hamburger-button .hamburger-button .hamburger-icon { overflow: hidden; position: absolute; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; }

.navbar-hamburger-button .hamburger-button .hamburger-icon span { position: absolute; width: 80%; height: 2px; background-color: #686562; transition: all 0.5s; transform-origin: left; }

.navbar-hamburger-button .hamburger-button .hamburger-icon span:nth-child(1) { top: 25%; }

.navbar-hamburger-button .hamburger-button .hamburger-icon span:nth-child(3) { bottom: 25%; }

.navbar-hamburger-button .hamburger-button-menu { position: fixed; width: 50vw; height: 100vh; background-color: #8f8b87; z-index: 100; transition: all 0.5s; left: -50%; }

.navbar-hamburger-button .hamburger-button-menu .hamburger-button-navbar { list-style: none; width: 80%; margin: 0 auto; padding: 10px 20px; text-align: center; }

.navbar-hamburger-button .hamburger-button-menu .hamburger-button-navbar .hamburger-button-item { margin: 20px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.548); background-color: #6865628c; padding: 10px 0; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.247); border-radius: 10px; transition: all 200ms; }

.navbar-hamburger-button .hamburger-button-menu .hamburger-button-navbar .hamburger-button-item:hover { background-color: #6865624d; }

.navbar-hamburger-button .hamburger-button-menu .hamburger-button-navbar .hamburger-button-item .hamburger-button-link { text-decoration: none; color: rgba(0, 0, 0, 0.671); }

.navbar-hamburger-button .hamburger-button-menu .hamburger-btn-group { width: 80%; margin: 0 auto; display: flex; flex-direction: column; }

.navbar-hamburger-button .hamburger-button-menu .hamburger-btn-group button { padding: 15px 20px; margin: 5px 0; border: 1px solid rgba(0, 0, 0, 0.781); border-radius: 10px; background-color: #686562; color: black; }

.navbar-hamburger-button .hamburger-button-menu .img-menu { width: 80%; margin: 50px auto; }

.navbar-hamburger-button .hamburger-button-menu .img-menu img { width: 100%; border-radius: 5px; box-shadow: 0 5px 20px rgba(0, 0, 0, 0.486); }

.navbar-hamburger-button .checkbox:checked ~ .hamburger-button span:nth-child(1) { top: 75%; left: 20%; transform: rotate(-45deg); }

.navbar-hamburger-button .checkbox:checked ~ .hamburger-button span:nth-child(2) { transform: translateX(120%); }

.navbar-hamburger-button .checkbox:checked ~ .hamburger-button span:nth-child(3) { bottom: 75%; left: 20%; transform: rotate(45deg); }

.navbar-hamburger-button .checkbox:checked ~ .hamburger-button-menu { left: 0; }

.header { max-width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 10px; }

.header .brand img { width: 100%; }

.header .nav { width: 95%; padding: 0 10px; display: flex; align-items: center; justify-content: space-between; }

@media (max-width: 640px) { .header .nav { display: none; } }

.header .nav .navbar { display: flex; align-items: center; justify-content: center; list-style: none; }

.header .nav .navbar-item { position: relative; margin: 0 5px; overflow: hidden; }

.header .nav .navbar-link { text-decoration: none; padding: 10px; color: #686562; display: flex; align-items: center; justify-content: center; }

@media (max-width: 700px) { .header .nav .navbar-link { padding: 5px; } }

.header .nav .navbar-link::after { content: ""; position: absolute; top: 80%; right: -100%; width: 100%; height: 2px; background-color: #686562a6; border-radius: 5px; transition: all 500ms; }

.header .nav .navbar-link:hover::after { right: 0; }

.header .nav .btn-group .btn-item-1, .header .nav .btn-group .btn-item-2 { padding: 15px 20px; border: none; background-color: #eae7e4; border-radius: 2px; cursor: pointer; transition: all 400ms; font-size: 1em; }

@media (max-width: 700px) { .header .nav .btn-group .btn-item-1, .header .nav .btn-group .btn-item-2 { padding: 10px 15px; } }

.header .nav .btn-group .btn-item-1:hover, .header .nav .btn-group .btn-item-2:hover { transform: translatey(-1px); background-color: #000; color: #fff; }

.header .nav .btn-group .btn-item-2 { background-color: #000; color: #fff; }

.header .nav .btn-group .btn-item-2:hover { background-color: #eae7e4; color: #000; }
/*# sourceMappingURL=Style.css.map */