@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@mixin FlexBox($justify: center) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  max-width: 1300px;
  background-color: #eae7e4;
  margin: auto;
  font-size: 16px;
}

.navbar-hamburger-button {
  display: none;
  position: relative;
  @media (max-width: 640px) {
    display: block;
  }
  .hamburger-button {
    position: absolute;
    top: 10px;
    right: 2%;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    .hamburger-icon {
      overflow: hidden;
      position: absolute;
      width: 40px;
      height: 40px;
      @include FlexBox(center);
      span {
        position: absolute;
        width: 80%;
        height: 2px;
        background-color: #686562;
        transition: all 0.5s;
        transform-origin: left;
      }
      span:nth-child(1) {
        top: 25%;
      }
      span:nth-child(3) {
        bottom: 25%;
      }
    }
  }
  .hamburger-button-menu {
    position: fixed;
    width: 50vw;
    height: 100vh;
    background-color: #eae7e4;
    z-index: 100;
    transition: all 0.5s;
    left: -50%;

    @media (max-width: 450px) {
      width: 70vw;
      left: -70%;
    }
    .hamburger-button-navbar {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      padding: 10px 20px;
      text-align: center;

      .hamburger-button-item {
        margin: 20px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.548);
        background-color: #6865628c;
        padding: 10px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.247);
        border-radius: 10px;
        transition: all 200ms;

        &:hover {
          background-color: #6865624d;
        }
        .hamburger-button-link {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.671);
          @media (max-width: 450px) {
            font-size: 0.8em;
          }
        }
      }
    }
    .hamburger-btn-group {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      button {
        padding: 15px 20px;
        margin: 5px 0;
        border: 1px solid rgba(0, 0, 0, 0.781);
        border-radius: 10px;
        background-color: #aaa59f;
        color: rgb(0, 0, 0);
        @media (max-width: 450px) {
          font-size: 0.8em;
        }
        @media (min-width: 1000px) {
          font-size: 2em;
        }
      }
    }
    .img-menu {
      width: 80%;
      margin: 50px auto;
      @media (max-width: 450px) {
        display: none;
      }
      img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.486);
      }
    }
  }
  .checkbox:checked ~ .hamburger-button span:nth-child(1) {
    top: 75%;
    left: 20%;
    transform: rotate(-45deg);
  }
  .checkbox:checked ~ .hamburger-button span:nth-child(2) {
    transform: translateX(120%);
  }
  .checkbox:checked ~ .hamburger-button span:nth-child(3) {
    bottom: 75%;
    left: 20%;
    transform: rotate(45deg);
  }
  .checkbox:checked ~ .hamburger-button-menu {
    left: 0;
  }
  .menu-pragraph {
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 0.7em;
    text-align: center;
  }
}
.header {
  max-width: 100%;

  @include FlexBox(space-between);
  padding: 10px;
  .brand img {
    width: 100%;
  }
  .nav {
    width: 95%;
    padding: 0 10px;
    @include FlexBox(space-between);

    @media (max-width: 640px) {
      display: none;
    }

    .navbar {
      @include FlexBox;
      list-style: none;

      &-item {
        position: relative;
        margin: 0 5px;
        overflow: hidden;
      }
      &-link {
        text-decoration: none;
        padding: 10px;
        color: #686562;
        @include FlexBox();
        @media (max-width: 700px) {
          padding: 5px;
        }
        &::after {
          content: "";
          position: absolute;
          top: 80%;
          right: -100%;
          width: 100%;
          height: 2px;
          background-color: #686562a6;
          border-radius: 5px;
          transition: all 500ms;
        }
        &:hover {
          &::after {
            right: 0;
          }
        }
      }
    }

    .btn-group {
      .btn-item-1 {
        padding: 15px 20px;
        border: none;
        background-color: #eae7e4;
        border-radius: 2px;
        cursor: pointer;
        transition: all 400ms;
        font-size: 1em;
        @media (max-width: 700px) {
          padding: 10px 15px;
        }
        &:hover {
          transform: translatey(-1px);
          background-color: #000;
          color: #fff;
        }
      }
      .btn-item-2 {
        @extend .btn-item-1;
        background-color: #000;
        color: #fff;

        &:hover {
          background-color: #eae7e4;
          color: #000;
        }
      }
    }
  }
}
.conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 30px;

  @media (max-width: 770px) {
    padding: 50px 30px;
  }
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }

  main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 4em;
      color: rgba(0, 0, 0, 0.699);
      margin-bottom: 20px;

      @media (max-width: 880px) {
        font-size: 3em;
      }
      @media (max-width: 770px) {
        font-size: 2em;
      }
      @media (max-width: 640px) {
        text-align: center;
        font-size: 4em;
      }
      @media (max-width: 450px) {
        font-size: 2.5em;
      }
    }
    p:nth-child(2) {
      color: rgba(0, 0, 0, 0.76);
      font-weight: 300;
      margin-bottom: 20px;
      @media (min-width: 1000px) {
        font-size: 2em;
      }
      @media (max-width: 770px) {
        font-size: 0.8em;
      }
      @media (max-width: 640px) {
        text-align: center;
        font-size: 2em;
      }
      @media (max-width: 450px) {
        font-size: 1.5em;
      }
    }
    .main-btn {
      @include FlexBox(space-around);
      margin: 20px 0;
      width: 100%;

      @media (max-width: 770px) {
        flex-direction: column;
      }

      button {
        display: block;
        padding: 10px 30px;
        border: 1px solid black;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.815);
        color: #fff;
        transition: all 200ms;
        font-size: 1em;

        &:hover {
          background-color: #eae7e4;
          color: rgb(0, 0, 0);
        }

        @media (max-width: 770px) {
          margin-bottom: 10px;
          width: 100%;
        }
        @media (max-width: 640px) {
          font-size: 1.2em;
        }
        @media (max-width: 450px) {
          font-size: 1em;
        }
      }
      button:nth-child(2) {
        background-color: #eae7e4;
        color: #000;
        &:hover {
          background-color: rgba(0, 0, 0, 0.815);
          color: #fff;
        }
      }
    }
    .iconbar {
      color: rgba(0, 0, 0, 0.884);
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      p {
        margin-right: 20px;
        font-size: 1.5em;
        @media (max-width: 770px) {
          font-size: 1em;
        }
        @media (max-width: 640px) {
          justify-content: center;
        }
      }
      .icons {
        font-size: 2em;
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
  aside {
    width: 100%;
    height: 100%;
    @include FlexBox();
    img {
      display: block;
      width: 100%;
    }
    @media (max-width: 640px) {
      display: none;
    }
  }
}
