@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@mixin FlexBox($justify: center) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  max-width: 100%;
  background-color: #eae7e4;
  margin: auto;
  font-size: 16px;
}
.header {
  max-width: 100%;

  @include FlexBox(space-between);
  padding: 10px;
  .brand img {
    width: 100%;
  }
  .nav {
    width: 95%;
    padding: 0 10px;
    @include FlexBox(space-between);

    @media (max-width: 640px) {
      display: none;
    }

    .navbar {
      @include FlexBox;
      list-style: none;

      &-item {
        position: relative;
        margin: 0 5px;
        overflow: hidden;
      }
      &-link {
        text-decoration: none;
        padding: 10px;
        color: #686562;
        @include FlexBox();
        @media (max-width: 700px) {
          padding: 5px;
        }
        &::after {
          content: "";
          position: absolute;
          top: 80%;
          right: -100%;
          width: 100%;
          height: 2px;
          background-color: #686562a6;
          border-radius: 5px;
          transition: all 500ms;
        }
        &:hover {
          &::after {
            right: 0;
          }
        }
      }
    }

    .btn-group {
      .btn-item-1 {
        padding: 15px 20px;
        border: none;
        background-color: #eae7e4;
        border-radius: 2px;
        cursor: pointer;
        transition: all 400ms;
        font-size: 1em;
        @media (max-width: 700px) {
          padding: 10px 15px;
        }
        &:hover {
          transform: translatey(-1px);
          background-color: #000;
          color: #fff;
        }
      }
      .btn-item-2 {
        @extend .btn-item-1;
        background-color: #000;
        color: #fff;

        &:hover {
          background-color: #eae7e4;
          color: #000;
        }
      }
    }
  }
}
